appdirs==1.4.3
certifi==2018.4.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.5
django-crispy-forms==1.7.2
django-embed-video==1.1.2
django-heroku==0.3.1
django-tinymce==2.7.0
django-tinymce4-lite==1.7.1
gunicorn==19.8.1
idna==2.7
jsmin==2.2.2
nmap==0.0.1
olefile==0.45.1
packaging==17.1
Pillow==5.1.0
psycopg2==2.7.4
pyparsing==2.2.0
python-nmap==0.6.1
pytz==2018.4
requests==2.19.1
six==1.11.0
urllib3==1.26.5
whitenoise==3.3.1
