<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="I am full stack web developer from senegal">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,Web developement, full stack developer,full stack, web developer, senegal,agence digital,conception de site web,creation de site,">
    <meta name="author" content="ousseynou diop">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {% block title %} Ousseynou Diop Full stack developer{% endblock %}</title>
    {% include 'head_css.html' %}
    {{ form.media }}
  </head>
  <body>

    {% block message %}
    
    {% endblock message %}
 
 
    {% block content %}

    {% endblock %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Static Files -->
    {% include 'js.html' %}
    
  </body>
</html>
