{% extends "base.html" %}
{% block content %}
{% include 'blog/blog_nav.html' %}
<div class="container">
<div class="card " style="width: 100%;">
    {% if contacts %}
    <div class="card-body">
        <h1 class="text-center">Here are all my Clients</h1>
        {% for contact in contacts %}
      <h5 class="card-title">Client Name: <strong>{{ contact.name }}</strong></h5>
      <h6 class="card-subtitle mb-2 text-muted">Client Email: {{ contact.email }}</h6>
      <p class="card-text">Message: {{ contact.message }}</p>
      <a href="mailto:{{contact.email}}" class="btn btn-outline-primary">Answer</a>
      <hr class="my-4">
      {% endfor %}
    </div>
    {% else %}
      <p>No Contacts</p>
      {% endif %}
  </div>
</div>
{% include 'pages/partials/footer.html' %}
{% endblock content %}