<nav id="navbar" class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Ousseynou Diop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">Blog</a>
          </li>
      </ul>
    </div>
  </div>
</nav>